#wrapper{
    background-color: black;
    color: white;
    width: 800px;
}

.contentbox{
    display: inline-block;
}

.dogpic{
    display: inline-block;
    border: solid 2px grey;
    width: 394px;
    height: 394px;
}

main{

}
